@use '@/styles/breakpoints.scss' as *;

.footer {
    .wrapper {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        .title {
            font-family: "Newsreader", sans-serif;
            font-size: 30px;

            @include respond(sm) {
                font-size: 20px;
            }
        }
    }   
}