@use '@/styles/breakpoints.scss' as *;

.header {
    margin-top: 20px;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;

        .title {
            font-family: "Newsreader", sans-serif;
            font-size: 30px;

            @include respond(sm) {
                font-size: 20px;
            }
        }

        .searchWrapper {
            display: flex;
            align-items: center;
        }
    }   
}